* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
}

h1, h2, h3 {
  text-align: center;
  padding-top: 3em;
}

p {
  text-align: center;
  margin: 10%;
}

input, button {
  width: 20%;
  margin-bottom: 2em;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: solid black 1px;
  width: 70%;
}

.head {
  display: flex;
  justify-content: center;
}

.points {
  width: 30%;
}

.tries-number {
    font-size: 2.5em;
  color: red;
}

#text-suggestion {
  border: solid 1px blue;
  padding: 3% 20%;
}
