* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial';
}

input, button {
  width: 20%;
  height: 2em;
  margin-bottom: 2em;
  border: solid 1px;
}

p {
  padding-bottom: 3%;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.numbers {
  display: flex;
  flex-direction: column;
  width: 70%;
  border-right: solid black 1px;
  align-items: center;
  padding-top: 5%;

}

.points {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding-top: 5%;
}

.head {
  display: flex;
  padding-bottom: 10%;
  width: inherit;
  justify-content: center;
}

.save {
  display: none;
  width: inherit;
  justify-content: center;
}

#tries-number {
  color: red;
  font-size: 2.5em;
  padding-left: 20%;
}

#text-suggestion {
  border: solid 1px blue;
  padding: 1% 20%;
  margin-top: 10%;
  color: blue;
}

#take-name {
  margin-right: 1%;
}

#history-names {
  margin-top: 2%;
}

@media all and (max-width: 900px) {

  .container {
    flex-direction: column;
}

  .numbers {
    width: 100%;
    border-right: none;
    border-bottom: solid black 1px;
    height: 65%;
  }

  .points {
    width: 100%;
    height: 35%;
  }

  #text-suggestion {
    padding: 1% 10%;
    margin-top: 3%;
  }

  input, button {
    width: 30%;
  }

  #tries-number {
    font-size: 2em;
    padding-left: 5%;
  }
}
